@model PizzaApplication.Models.User

@{
    ViewData["Title"] = "Index";
}

<h1>Registration</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("Index", "User", FormMethod.Post))
        {
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.LabelFor(m => m.UserEmail)
                @Html.EditorFor(m => m.UserEmail)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Name)
                @Html.EditorFor(m => m.Name)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password)
                @Html.EditorFor(m => m.Password)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Address)
                @Html.EditorFor(m => m.Address)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Phone)
                @Html.EditorFor(m => m.Phone)
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
