@model PizzaApplication.Models.PizzaToppingModel
@{
    ViewData["Title"] = "Bill Summary";
}

<h1>Your Bill Details</h1>




<table class="table">


    <tbody>


        @foreach (var item in Model.ToppingPizzaList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Pizza.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pizza.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pizza.Speciality)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pizza.IsVeg)
                </td>
            </tr>
            @foreach (var toppingItem in item.ToppinngDetails)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => toppingItem.Topping.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => toppingItem.Topping.Price)
                    </td>
                </tr>
            }

        }


    </tbody>
    </table>

<h4 style="text-decoration:solid;">Total Price: @Model.TotalPrice</h4>
<h4>Delivery Charge: @Model.DeliveryCharge</h4>
<h5 style="text-decoration:solid;"> Note : Delivery Charge of 5 applicable for Order below 25</h5>
<div class="container">
    <div class="btn btn-dark ">

        @Html.ActionLink("Confirm The Order", "Confirm")

    </div>
    <div class="btn btn-dark ">

        @Html.ActionLink("Cancel", "Cancel")

    </div>
    </div>