@model PizzaApplication.Models.PizzaToppingModel
@{
    ViewData["Title"] = "Bill Summary";
}

<h1>Your Bill Details</h1>

 @{int itemId = Model.ItemId[0];
     int current = 0;}


<table class="table">
    @*<thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OrderId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Total)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeliveryCharge)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
            </tr>
        </thead>*@
 
    <tbody>
        @foreach (var item in Model.ListOfPizza)
        {


            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Speciality)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsVeg)
                </td>


            </tr>

            @for (int i = current; i < Model.ListofToppings.Count; i++)
            {
                if (i == 0)
                {
                    <tr>

                        <td>
                            @Html.Raw(Model.ListofToppings[i].Name)
                        </td>
                        <td>
                            @Html.Raw(Model.ListofToppings[i].Price)
                        </td>
                    </tr>
                    current++;
                    break;
                }
                @for (int j = i + 1; j < Model.ItemId.Count; j++)
                {
                    if (Model.ItemId[j] == itemId)
                    {
                        <tr>

                            <td>
                                @Html.Raw(Model.ListofToppings[i].Name)
                            </td>
                            <td>
                                @Html.Raw(Model.ListofToppings[i].Price)
                            </td>
                        </tr>
                    }
                    else
                    {
                        break;
                    }
                    itemId = j;
                }
                break;
            }


        }
    </tbody>
</table>

<h4 style="text-decoration:solid;">Total Price: @Model.TotalPrice</h4>
<h4>Delivery Charge: @Model.DeliveryCharge</h4>
<h5 style="text-decoration:solid;"> Note : Delivery Charge of 5 applicable for Order below 25</h5>
<div class="container">
    <div class="btn btn-dark ">

        @Html.ActionLink("Confirm The Order", "Confirm")

    </div>
    <div class="btn btn-dark ">

        @Html.ActionLink("Cancel", "Cancel")

    </div>
