@model PizzaApplication.Models.PizzaToppingModel
@{
    ViewData["Title"] = "Bill Summary";
}

<h1>Your Bill Details</h1>


<table class="table">
    @*<thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OrderId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Total)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeliveryCharge)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
            </tr>
        </thead>*@
    <tbody>
        @foreach (var item in Model.ListOfPizza)
        {


            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Speciality)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsVeg)
                </td>


            </tr>

            @foreach (var i in Model.ListofToppings)
            {

                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => i.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => i.Price)
                    </td>
                </tr>
            }

        }
    </tbody>
</table>

<h3 style="text-decoration:solid;">Total Price: @Model.TotalPrice</h3>
<h3>Delivery Charge: @Model.DeliveryCharge</h3>
<h2 style="text-decoration:solid;"> Note : Delivery Charge of 5 applicable for Order below 25</h2>
